@page
@model CEN4020Project.Pages.RetrievePasswordModel
@{
}
<div class="content">
    <h1>Retrieve Password</h1>
    <input type="text" class="content-item" placeholder="Enter Your Email">
    <button type="button" class="content-item">Send Password</button>
    <button type="button" class="content-item">Back</button>
</div>